[core]
	autocrlf = true
[user]
	name = Vito Morlino
	email = vjmorlino@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
