[core]
	autocrlf = true
[user]
	name = VitoMorlino
	email = 17305030+VitoMorlino@users.noreply.github.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[safe]
	directory = D:/lifeOS/ ; note: drive letter may need to be changed to match seekerfox
	directory = D:/backups/lifeOS_backup/lifeOS/ ; note: drive letter may need to be changed to match seekerfox
